position: fixed;
margin: auto;
left: 0;
right: 0;
top: 100px;
}

#anMusic-page .aplayer-info .aplayer-lrc {
  margin-top: 40px;
  height: auto;
  max-height: 200%;
  min-height: 100%;
  mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
}

#anMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
  color: #33a673;
}

/* 控制按键和进度条 */
#anMusic-page .aplayer-info .aplayer-controller {
  width: 100%;
  bottom: 100px;
}

#anMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  margin: 0 30px;
}

#anMusic-page .aplayer-info .aplayer-time {
  bottom: -40px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
  position: absolute;
  width: 100%;
  margin-right: 0;
  margin-top: -33px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
  position: absolute;
  right: 30px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
  position: absolute;
  left: 35px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
  margin: auto;
  right: 110px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  margin: auto;
  right: 0;
  left: 0;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
  margin: auto;
  left: 110px;
  right: 0;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
  position: absolute;
  left: 22px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
  position: absolute;
  right: 25px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
  display: inline;
  position: absolute;
  right: 25px;
  top: -90px;
}

#anMusic-page .aplayer-volume-bar-wrap {
  bottom: 0px;
  right: 7px;
}

#anMusic-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
  left: -66px;
}